:root{
    --c1:#714a9c;
    --c2:#648d86;
    --m1:#876f9d;
    --m2:#76b39d;
    --t: #000;
    --ht: rgba(0, 0, 0, 0.4);
}
@font-face {
    font-family: god;
    src: url("../Ubuntu-Regular.ttf");
}
*{
    font-family: god, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: var(--c1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}