
.music{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    height: 95vh;
    width: 95vw;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px;
    background-color: var(--c2);
}

.songs{
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
    height: 88%;
}

.songs>ol::-webkit-scrollbar{
    width: 8px;
}
.songs>ol::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}
.songs>ol::-webkit-scrollbar-thumb{
    background: var(--c1);
    border-radius: 0px;
}

.songs>ol{
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
}
/* counting -> */
span.noV{
    color: rgba(0, 0, 0, 0.4);
}
/* counting <- */
.songs>ol>li{
    padding: 0px 3px 0px 3px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    transition: 0.2s linear;
}
.songs>ol>li:hover{
    background-color: var(--c1) !important;
}

/* both  */
.songs>ol>li>div{
    display: flex;
    align-items: center;
}
.songs>ol>li>div.cover_title{
    flex-grow: 1;
    gap: 10px;
}
.songs>ol>li>div.meta{
    overflow: hidden;
    padding: 10px;
    max-width: 20%;
    gap: 5px;
    color: rgba(0, 0, 0, 0.4);
    text-align: right;
}

/* cover -> */
.songs>ol>li>div.cover_title>img , .songs>ol>li>div.cover_title>svg{
    aspect-ratio: 1/1;
    padding: 2px;
    width: 80px;
    color: var(--m2);
}
/* cover <- */

.songs>ol>li>div.cover_title>p{
    font-size: 1.2rem;
    text-transform: capitalize;
}

.songs>ol>li>div.meta>p.genre{
    max-height: 90%;
    overflow: hidden auto ;
}
.songs>ol>li>div.meta>p.genre::-webkit-scrollbar{
    display: none;
}

/* ! other form  -> */