.music{
    display: grid;
    grid-template-rows: auto 60px;
    /* default grid-template-columns: 100px auto; */
    grid-template-columns: 40px auto;
    transition: 0.5s ease-in-out;

    padding: 10px;
    padding-bottom: 0;
    padding-left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--c2);
}

.songs{
    position: relative;
    grid-row: 1/2;
    grid-column: 2/3;

    display: flex;
    gap: 5px;
    flex-direction: column;
    overflow: hidden;
}

.songs>ol::-webkit-scrollbar{
    width: 8px;
}
.songs>ol::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}
.songs>ol::-webkit-scrollbar-thumb{
    background: var(--c1);
    border-radius: 0px;
}

.songs>ol{
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
}
/* counting -> */
span.noV{
    color: var(--ht);
}
/* counting <- */
.songs>ol>li{
    padding: 0px 3px 0px 3px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    transition: 0.2s linear;
}
.songs>ol>li:hover{
    background-color: var(--c1) !important;
}

/* both  */
.songs>ol>li>div{
    display: flex;
    align-items: center;
}
.songs>ol>li>div.cover_title{
    flex-grow: 1;
    gap: 10px;
}
.songs>ol>li>div.meta{
    overflow: hidden;
    padding: 10px;
    max-width: 20%;
    gap: 5px;
    color: var(--ht);
    text-align: right;
}

/* cover -> */
.songs>ol>li>div.cover_title>img , .songs>ol>li>div.cover_title>svg{
    aspect-ratio: 1/1;
    padding: 2px;
    width: 80px;
    color: var(--m2);
}
/* cover <- */

.songs>ol>li>div.cover_title>p{
    font-size: 1.2rem;
    text-transform: capitalize;
    color: var(--t);
}

.songs>ol>li>div.meta>p.genre{
    max-height: 90%;
    overflow: hidden auto ;
}
.songs>ol>li>div.meta>p.genre::-webkit-scrollbar{
    display: none;
}

/* ! other form  -> */